%sf-regular {
  font-weight: 400;
  font-family: 'SFProDisplay-Regular', sans-serif;
}

%sf-semibold {
  font-weight: 600;
  font-family: 'SFProDisplay-Semibold', sans-serif;
}

%ubuntu-light {
  font-weight: 300;
  font-family: 'Ubuntu-Light', sans-serif;
}

%ubuntu-medium {
  font-weight: 500;
  font-family: 'Ubuntu-Medium', sans-serif;
}

%ubuntu-bold {
  font-weight: 700;
  font-family: 'Ubuntu-Bold', sans-serif;
}
%ubuntu-regular {
  font-weight: 700;
  font-family: 'Ubuntu-Regular', sans-serif;
}
