@import "fonts";
@import "libs";
@import "vars";
@import "media";
@import "global";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;

    @extend %ubuntu-medium;
  }

  &__menu-item {
    display: inline-block;

    & + .header__menu-item {
      padding-left: 20px;
    }
  }

  &__info-btn {
    margin-right: 8px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 28px;
    color: #ffffff;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }
  }

  &__info-phone {
    font-size: 16px;
    line-height: 18px;

    @extend %ubuntu-bold;
  }
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00226) 50.29%,
      rgba(4, 5, 5, 0.82034) 58.72%,
      rgba(5, 5, 6, 0.7927) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 96px;
    line-height: 115px;
    text-align: center;

    @extend %sf-semibold;
  }

  &__text {
    margin: 25px 0 35px;
    max-width: 324px;
    text-align: center;
  }

  &__social-list {
    display: flex;
    justify-content: center;
  }

  &__social-item {
    margin: 0 25px;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.product {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 440px;
  }

  &__slider-box {
    position: relative;
    padding-top: 110px;
  }

  &__slider-text {
    position: absolute;
    left: -250px;
    bottom: 30px;
    z-index: 5;
    max-width: 280px;
    font-size: 24px;
    line-height: 28px;
    text-align: right;

    @extend %ubuntu-medium;
  }

  &__slider {
    max-width: 560px;

    &::before {
      content: "";
      position: absolute;
      right: -17px;
      top: -15px;
      border: 4px solid #ffffff;
      width: 564px;
      height: 280px;
    }
  }
}

.slider-btn {
  position: absolute;
  right: 0;
  bottom: -54px;
  z-index: 5;
  border: none;
  padding: 16px 26px;
  background: #ffffff;
  cursor: pointer;

  svg {
    stroke: #000000;
  }

  &__left {
    right: 60px;
  }

  &.slick-disabled {
    background: #1c1c1c;

    svg {
      stroke: #ffffff;
    }
  }
}

.benefits {
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;

    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(25px);
    }
  }

  &__item-1,
  &__item-3 {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &__item-1 {
    &::before {
      right: -55px;
      bottom: 77px;
      width: 245px;
      height: 45px;
      background-image: url("../images/line-1.svg");
    }
  }

  &__item-3 {
    &::before {
      right: -150px;
      bottom: 69px;
      width: 100%;
      height: 100%;
      background-image: url("../images/line-2.svg");
    }

    &::after {
      right: -369px;
      bottom: -43px;
      width: 100%;
      height: 100%;
      background-image: url("../images/line-3.svg");
    }
  }

  &__num {
    margin-right: 10px;
    font-size: 36px;
    line-height: 41px;

    @extend %ubuntu-bold;
  }

  &__img {
    position: relative;
    margin-right: 32px;

    &::before {
      content: "";
      position: absolute;
      right: -12px;
      top: -12px;
      z-index: -1;
      border: 2px solid #ffffff;
      width: 195px;
      height: 130px;
    }
  }

  &__info {
    width: 300px;
  }

  &__info-title {
    width: 123px;
    font-size: 21px;
    line-height: 24px;

    @extend %ubuntu-bold;
  }

  &__info-text {
    max-width: 300px;
    font-size: 15px;
    line-height: 130%;

    @extend %ubuntu-light;
  }
}
